@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}
.sectionone{
    display: flex;
}
.p{
    position: absolute;
    width: 125px;
    height: 48px;
    margin-left: 150px;
    margin-top: 56px;
    background: #c4c4c4;
}
.nav{
    position: absolute;
    width: 195px;
    height: 20px;
    margin-left: 560px;
    margin-top: 70px;
    display: flex;
    align-items: center;
    text-align: center;
    
}
.home{
    position: absolute;
    width: 30px;
    height: 20px;
    margin-left: 0px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 150%;
    color: #484858;
}
.about{
    position: absolute;
    width: 37px;
    height: 20px;
    margin-left: 49px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 150%;
    color: #484858;
}
.contact{
    position: absolute;
    width: 48px;
    height: 20px;
    margin-left: 97px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 150%;
}
.faq{
    position: absolute;
    width: 48px;
    height: 20px;
    margin-left: 153px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 150%;
}
.download{
    flex-direction: row;
    align-items: center;
    padding: 16px, 24px;
    position: absolute;
    margin-left: 76.81%;
    margin-right: 10.42%;
    margin-top: 56px;
    margin-bottom: 97.87;
    background: #212121;
    border-radius: 4px;
    border: none;
    color: lavender;
    width: 184px;
    height: 48px;
}
.download:hover{
    cursor: pointer;
    background: black;
    color: burlywood;
}
.gettoknow{
    font-weight: 900;
    position: absolute;
    width: 433px;
    height: 61px;
    margin-left: 150px;
    margin-top: 408px;
    color: #4B4B58; 
   
}
.offer{
    position: absolute;
    width: 480px;
    height: 48px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    margin-left: 150px;
    margin-top: 458px;  
    color: #a5a5b3;
}
.list{
    position: absolute;
    width: 149px;
    height: 102px;
    left: 150px;
    top: 522px;
    font-style: normal;
    font-weight: 800px;
    font-size: 16px;
    line-height: 210%;
    letter-spacing: -0.02em;
    color: #a5a5b3;
}
.gridpics{
    position: absolute;
    margin-left: -4.4em;
}
.sitdown{
    position: absolute  ;
    width: 286px;
    height: 229px;
    left: 710px;
    top: 215px;
    border-radius: 4px;
}
.givers{
    position: absolute  ;
    width: 286px;
    height: 329px;
    left: 710px;
    top: 454px;
    border-radius: 4px;
}
.chatters{
    position: absolute  ;
    width: 286px;
    height: 568px;
    left: 1004px;
    top: 215px;
    border-radius: 4px;
}

.easier{
    position: absolute;
    width: 338px;
    height: 86px;
    left: 551px;
    top: 883px;
    font-style: normal;
    font-weight: 900px;
    font-size: 34px;
    line-height: 43px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #4b4b5b;
}
.sharing{
    position: absolute;
    width: 400px;
    height: 48px;
    left: 520px;
    top: 1001px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #a5a5b3;
}
.milestone{
    position: absolute;
    width: 155px;
    height: 43px;
    left: 643px;
    top: 1149px;
    font-style: normal;
    font-weight: 900px;
    font-size: 34px;
    line-height: 43px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #4b4b5b;
}
.started{
    position: absolute;
    width: 482px;
    height: 24px;
    left: 479px;
    top: 1224px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #a5a5b5;
}

.mile{
    position: absolute;
    width: 83px;
    height: 38px;
    left: 144px;
    top: 1348px;
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    line-height: 150%;
    text-align: center;
    color: #4b4b5b;
}
.understanding{
    position: absolute;
    width: 163px;
    height: 96px;
    left: 151px;
    top: 1402px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em; 
    color: #a5a5b5;
}


.ellipseone{
    position: absolute;
    width: 131px;
    height: 131px;
    left: 362px;
    top: 1358px;
    background-color: #FFE4E7;
}
.idea{
    position: absolute;
    left: 384px;
    top: 1377px;
    width: 87px;
}
.line1{
    position: absolute;
    left: 500px;
    top: 1428px;
}
.mile2{
    position: absolute;
    width: 89px;
    height: 38px;
    left: 908px;
    top: 1680px;
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    line-height: 150%;
    text-align: center;
    color: #4B4B58;
}
.painpoint{
    position: absolute;
    width: 169px;
    height: 96px;
    left: 918px;
    top: 1734px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #A5A5B3;
}
.ellipse22{
    position: absolute;
width: 131px;
height: 131px;
left: 1113px;
top: 1692px;
}
.headache{
    position: absolute;
    left: 1137px;
    top: 1714px;
    width: 83px;
}
.mile3{
    position: absolute;
    width: 82px;
    height: 38px;
    left: 355px;
    top: 1938px;
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    line-height: 150%;
    text-align: center;
    color: #4B4B58;
}

.building{
    position: absolute; 
    width: 168px;
    height: 96px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #A5A5B3;
    margin-left: 363px;
    margin-top: 1990px;
}
.ellipse23{
position: absolute;
width: 131px;
height: 131px;
left: 212px;
top: 2068px;
}

.building1{
    position: absolute;
    left: 238px;
    top: 2090px;
    width: 80px;
}
.line2{
    position: absolute;
    left: 271px;
    top: 1738px;
}

.mile4{
    position: absolute;
    width: 82px;
    height: 38px;
    left: 826px;
    top: 2270px;
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    line-height: 150%;
    text-align: center;
    color: #4B4B58;
}
.pixels{
    position: absolute;
    width: 150px;
    height: 72px;
    left: 833px;
    top: 2324px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #A5A5B3;
}
.ellipse24{
    position: absolute;
    width: 131px;
    height: 131px;
    left: 1034px;
    top: 2287px;
}
.delivery{
    position: absolute;
    left: 1060px;
    top: 2312px;
    width: 82px;
}
.mile5{
    position: absolute;
    width: 82px;
    height: 38px;
    left: 154px;
    top: 2463px;
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    line-height: 150%;
    text-align: center;
    color: #4B4B58;
}
.line3{
    position: absolute;
    left: 349px;
    top: 2093px;
}
.line4{
    position: absolute;
    left: 506px;
    top: 2443px;
}
.test{
    position: absolute;
    width: 163px;
    height: 72px;
    left: 159px;
    top: 2517px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #A5A5B3;
}
.ellipse25{
    position: absolute;
    width: 131px;
    height: 131px;
    left: 360px;
    top: 2458px;
}
.test1{
    position: absolute;
    left: 392px;
    top: 2484px;
    width: 82px;
}

.values{
    position: absolute;
    width: 195px;
    height: 43px;
    left: 623px;
    top: 2685px;
    font-style: normal;
    font-weight: 800;
    font-size: 34px;
    line-height: 43px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #4B4B58;
}
.paramount{
    position: absolute;
    width: 480px;
    height: 48px;
    left: 467px;
    top: 2760px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #A5A5B3;
}
.lineups{
    position: absolute;
    margin-left: -2.7em;
}

.lineup1{
    position: absolute;
    width: 359px;
    height: 236px;
    left: 151px;
    top: 2840px;
    background: #FFFAEA;
    border-radius: 4px;
}
.reliable{
     position: absolute; 
    width: 290px;
    height: 30px;
    left: -8px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: #4B4B58;
    padding-top: 1.5em;
}
.dependable{
    position: absolute; 
    width: 315.1px;
    height: 195px;
    top: 34px;
    left: 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #A5A5B3;
    padding-top: 3.5em;
    margin-left: 0.8em;
}

.lineup2{
    position: absolute;
    width: 357px;
    height: 236px;
    left: 542px;
    top: 2840px;
    background: #fffaea;
    border-radius: 4px;
}
.commitment{
    position: absolute;
    width: 128px;
    height: 30px;
    left: 16px;
    top: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: #4B4B58;
}
.dedicated{
    position: absolute;
    width: 308px;
    height: 195px;
    left: 19px;
    top: 90px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #A5A5B3;
}

.lineup3{
    position: absolute;
    width: 357px;
    height: 236px;
    left: 933px;
    top: 2840px;
    background: #FFFAEA;
    border-radius: 4px;
}
.trans{
    position: absolute;
    width: 135px;
    height: 30px;
    left: 16px;
    top: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: #4B4B58;
}
.authentic{
    position: absolute;
    width: 339px;
    height: 195px;
    left: 19px;
    top: 90px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #A5A5B3;
}

.lastpage{
    position: absolute;
    width: 1002.93px;
    height: 270.22px;
    left: 219px;
    top: 3176px;
}
.subscribe{
    position: absolute;
    width: 94px;
    height: 30px;
    left: px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 150%;
    color: #4B4B58;
}
::placeholder{
    padding-left: 1em;
} 
.email{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 49px;
    bottom: 0%;
    background: #ffffff;
    border: 1px solid #818195;
    box-sizing: border-box;
    border-radius: 4px;
    height: 56px;
    width: 298px;
    border-radius: 0px;
}
.btnsub{
    color: #FFE4E7;
    display: flex;
    flex-direction: row; 
    align-items: center;
    padding: 20px 24px; 
    position: absolute;
    width: 137px;
    height: 56px;
    right: 0px; 
    top: calc(50% - 172px/2); 
    left: 298px;
    background: #4B4B58;
    border-radius: 4px; 
    border: none;
}
.company{
    position: absolute;
    width: 80px;
    height: 24px;
    left: 568px;
    top: 6px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #4B4B58;
}
.about1{
    position: absolute;
    width: 45px;
    height: 24px;
    left: 568px;
    top: 53px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #4B4B58;
}
.contact1{
    position: absolute;
    width: 57px;
    height: 24px;
    left: 568px;
    top: 93px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #4B4B58;
}
.faq1{
    position: absolute;
    width: 32px;
    height: 24px;
    left: 569px;
    top: 133px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #4B4B58;
}

.touch{
    position: absolute;
    width: 140px;
    height: 24px;
    left: 808px;
    top: 6px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #4B4B58;
}
.partner{
    position: absolute;
    width: 189px;
    height: 24px;
    left: 808px;
    top: 53px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #A5A5B3;
}
.support{
    position: absolute;
    width: 146px;
    height: 24px;
    left: 808px;
    top: 87px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #4B4B58;
}

.twitter{
    position: absolute;
    left: 80.95%;
    top: 46.5%;
    border: solid;
    padding: 0.7em;
    background: #E4E4E9;
    border-radius: 50%;
    border: none;
}
.fb{
    position: absolute;
    left: 87.2%;
    top: 46.5%;
    border: solid;
    padding: 0.7em;
    background: #E4E4E9;
    border-radius: 50%;
    border: none;
}
.ig{
    position: absolute;
    left: 93.2%;
    top: 46.5%;
    border: solid;
    padding: 0.7em;
    background: #E4E4E9;
    border-radius: 50%;
    border: none;
}
.socials{
    margin-top: -17em;
}



@media screen and (max-width: 480px) {
    .p{
        position: absolute;
        width: 64px;
        height: 28px;
        margin-left: 22px;
        margin-top: 56px;
        background: #c4c4c4;
    }
    .gettoknow{
        top: -260px;
        font-weight: 900;
        position: absolute;
        width: 433px;
        height: 61px;
        margin-left: 56px;
        margin-top: 408px;
        color: #4B4B58;
        font-size: 25px;
    }
    .offer{
        position: absolute;
        width: 280px;
        height: 48px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: -0.02em;
        margin-left: 24px;
        margin-top: 198px;
        color: #a5a5b3;
        text-align: center;
    }
    .list {
        position: absolute;
        width: 149px;
        height: 102px;
        left: 105px;
        top: 297px;
        font-style: normal;
        font-weight: 800px;
        font-size: 16px;
        line-height: 210%;
        letter-spacing: -0.02em;
        color: #a5a5b3;
    }
    .gridpics {
        position: absolute;
        margin-left: -48.4em;
        top: 254px;
        size: 33px;
    }
    .sitdown {
        position: absolute;
        width: 140px;
        height: 104px;
        left: 796px;
        top: 215px;
        border-radius: 4px;
    }
    .givers {
        position: absolute;
        width: 140px;
        height: 170px;
        left: 796px;
        top: 324px;
        border-radius: 4px;
    }
    .chatters {
        position: absolute;
        width: 140px;
        height: 280px;
        left: 941px;
        top: 215px;
        border-radius: 4px;
    }
    .easier {
        position: absolute;
        width: 280px;
        height: 86px;
        left: 24px;
        top: 780px;
        font-style: normal;
        font-weight: 900px;
        font-size: 25px;
        line-height: 150%;
        text-align: center;
        letter-spacing: -0.02em;
        color: #4b4b5b;
    }
    .sharing {
        position: absolute;
        width: 280px;
        height: 72px;
        left: 22px;
        top: 877px;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 150%;
        text-align: center;
        letter-spacing: -0.02em;
        color: #a5a5b3;
    }
    .milestone {
        position: absolute;
        width: 155px;
        height: 43px;
        left: 87px;
        top: 989px;
        font-style: normal;
        font-weight: 900px;
        font-size: 34px;
        line-height: 43px;
        text-align: center;
        letter-spacing: -0.02em;
        color: #4b4b5b;
    }
    .started {
        position: absolute;
        width: 300px;
        height: 24px;
        left: 12px;
        top: 1054px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        letter-spacing: -0.02em;
        color: #a5a5b5;
    }
    .ellipseone {
        position: absolute;
        width: 131px;
        height: 131px;
        left: 97px;
        top: 1148px;
        background-color: #FFE4E7;
    }
    .idea {
        position: absolute;
        left: 118px;
        top: 1167px;
        width: 87px;
    }
    .mile {
        position: absolute;
        width: 83px;
        height: 38px;
        left: 121px;
        top: 1308px;
        font-style: normal;
        font-weight: 900;
        font-size: 25px;
        line-height: 150%;
        text-align: center;
        color: #4b4b5b;
    }
    .understanding {
        position: absolute;
        width: 170px;
        height: 96px;
        left: 79px;
        top: 1365px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: -0.02em;
        color: #a5a5b5;
        text-align: center;
    }
    .line1 {
        position: absolute;
        left: 1px;
        top: 1428px;
        width: 0.2px;
        /* background: red; */
    }
    .ellipse22 {
        position: absolute;
        width: 131px;
        height: 131px;
        left: 100px;
        top: 1504px;
    }
    .headache {
        position: absolute;
        left: 124px;
        top: 1527px;
        width: 83px;
    }
    .mile2 {
        position: absolute;
        width: 89px;
        height: 38px;
        left: 118px;
        top: 1660px;
        font-style: normal;
        font-weight: 900;
        font-size: 25px;
        line-height: 150%;
        text-align: center;
        color: #4B4B58;
    }
    .painpoint {
        position: absolute;
        width: 179px;
        height: 96px;
        left: 76px;
        top: 1719px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: -0.02em;
        color: #A5A5B3;
        text-align: center;
    }
    .line2 {
        position: absolute;
        left: 71px;
        top: 1638px;
        width: 0.2px;
    }
    .ellipse23 {
        position: absolute;
        width: 131px;
        height: 131px;
        left: 100px;
        top: 1858px;
    }
    .building1 {
        position: absolute;
        left: 126px;
        top: 1880px;
        width: 80px;
    }
    .mile3 {
        position: absolute;
        width: 82px;
        height: 38px;
        left: 123px;
        top: 2017px;
        font-style: normal;
        font-weight: 900;
        font-size: 25px;
        line-height: 150%;
        text-align: center;
        color: #4B4B58;
    }
    .building {
        position: absolute;
        width: 168px;
        height: 96px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: -0.02em;
        color: #A5A5B3;
        margin-left: 81px;
        margin-top: 2078px;
        text-align: center;
    }
    .line3 {
        position: absolute;
        left: 9px;
        top: 1893px;
        width: 0.1px;
        background: red;
    }
    .ellipse24 {
        position: absolute;
        width: 131px;
        height: 131px;
        left: 100px;
        top: 2212px;
    }
    .delivery {
        position: absolute;
        left: 126px;
        top: 2239px;
        width: 82px;
    }
    .mile4 {
        position: absolute;
        width: 82px;
        height: 38px;
        left: 123px;
        top: 2371px;
        font-style: normal;
        font-weight: 900;
        font-size: 25px;
        line-height: 150%;
        text-align: center;
        color: #4B4B58;
    }
    .pixels {
        position: absolute;
        width: 150px;
        height: 72px;
        left: 88px;
        top: 2424px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: -0.02em;
        color: rgb(165, 165, 179);
        text-align: center;
    }
    .ellipse25 {
        position: absolute;
        width: 131px;
        height: 131px;
        left: 100px;
        top: 2534px;
    }
    
    .test1 {
        position: absolute;
        left: 133px;
        top: 2561px;
        width: 82px;
    }
    .mile5 {
        position: absolute;
        width: 82px;
        height: 38px;
        left: 124px;
        top: 2695px;
        font-style: normal;
        font-weight: 900;
        font-size: 25px;
        line-height: 150%;
        text-align: center;
        color: #4B4B58;
    }
    .test {
        position: absolute;
        width: 163px;
        height: 72px;
        left: 84px;
        top: 2747px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: -0.02em;
        color: #A5A5B3;
        text-align: center;
    }
    .line4 {
        position: absolute;
        left: 26px;
        top: 2313px;
        width: 0.1px;
        background: red;
    }
    .values {
        position: absolute;
        width: 195px;
        height: 43px;
        left: 66px;
        top: 2875px;
        font-style: normal;
        font-weight: 800;
        font-size: 34px;
        line-height: 43px;
        text-align: center;
        letter-spacing: -0.02em;
        color: #4B4B58;
    }
    .paramount {
        position: absolute;
        width: 310px;
        height: 48px;
        left: 10px;
        top: 2930px;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 150%;
        text-align: center;
        letter-spacing: -0.02em;
        color: #A5A5B3;
    }
    .lineup1 {
        position: absolute;
        width: 297px;
        height: 236px;
        left: 58.6px;
        top: 3030px;
        background: #FFFAEA;
        border-radius: 4px;
    }
    .reliable {
        position: absolute;
        width: 290px;
        height: 30px;
        left: 5px;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 150%;
      
        color: #4B4B58;
        padding-top: 1.5em;
    }
    .dependable {
        position: absolute;
        width: 285.1px;
        height: 195px;
        top: 34px;
        left: -6px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: -0.02em;
        color: #A5A5B3;
        padding-top: 3.5em;
        margin-left: 0.8em;
        text-align: center;
    }
    .lineup2 {
        position: absolute;
        width: 297px;
        height: 236px;
        left: 58.6px;
        top: 3287px;
        background: #fffaea;
        border-radius: 4px;
    }
    .commitment {
        position: absolute;
        width: 128px;
        height: 30px;
        left: 80px;
        top: 30px;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 150%;
        text-align: center;
        color: #4B4B58;
    }
    .dedicated {
        position: absolute;
        width: 278px;
        height: 195px;
        left: 10px;
        top: 90px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: -0.02em;
        color: #A5A5B3;
        text-align: center;
    }
    .lineup3 {
        position: absolute;
        width: 297px;
        height: 236px;
        left: 58.6px;
        top: 3543px;
        background: #FFFAEA;
        border-radius: 4px;
    }
    .trans {
        position: absolute;
        width: 135px;
        height: 30px;
        left: 78px;
        top: 30px;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 150%;
        text-align: center;
        color: #4B4B58;
    }
    .authentic {
        position: absolute;
        width: 247px;
        height: 195px;
        left: 25px;
        top: 90px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: -0.02em;
        color: #A5A5B3;
        text-align: center;
    }
    .subscribe {
        position: absolute;
        width: 94px;
        height: 30px;
        left: 97px;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 150%;
        color: #4B4B58;
        top: -52px;
    }
    .email {
        position: absolute;
        left: 7px;
        right: 0%;
        top: 8px;
        bottom: 0%;
        background: #ffffff;
        border: 1px solid #818195;
        box-sizing: border-box;
        border-radius: 4px;
        height: 56px;
        width: 169px;
        border-radius: 0px;
        font-size: 9px;
    }
    .btnsub {
        color: #FFE4E7;
        display: flex;
        flex-direction: row;
        /* align-items: center; */
        padding: 20px 24px;
        position: absolute;
        width: 110px;
        height: 56px;
        right: 0px;
        top: calc(50% - 334px/2);
        left: 176px;
        background: #4B4B58;
        border-radius: 4px;
        border: none;
        /* text-align: center; */
    }
    .company {
        position: absolute;
        width: 80px;
        height: 24px;
        left: 1px;
        top: 100px;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: -0.02em;
        color: #4B4B58;
    }
    .about1 {
        position: absolute;
        width: 45px;
        height: 24px;
        left: 1px;
        top: 144px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: -0.02em;
        color: #4B4B58;
    }
    .contact1 {
        position: absolute;
        width: 57px;
        height: 24px;
        left: 1px;
        top: 185px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: -0.02em;
        color: #4B4B58;
    }
    .faq1 {
        position: absolute;
        width: 32px;
        height: 24px;
        left: 4px;
        top: 229px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: -0.02em;
        color: #4B4B58;
    }
    .touch {
        position: absolute;
        width: 140px;
        height: 24px;
        left: 132px;
        top: 99px;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: -0.02em;
        color: #4B4B58;
    }
    .partner {
        position: absolute;
        width: 189px;
        height: 24px;
        left: 134px;
        top: 144px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: -0.02em;
        color: #A5A5B3;
    }
    .support {
        position: absolute;
        width: 146px;
        height: 24px;
        left: 134px;
        top: 185px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: -0.02em;
        color: #4B4B58;
    }
    .twitter {
        position: absolute;
        left: 13.25%;
        top: 63.5%;
        border: solid;
        padding: 0.7em;
        background: #E4E4E9;
        border-radius: 50%;
        border: none;
        width: 39px;
    }
    .fb {
        position: absolute;
        left: 19%;
        top: 63.5%;
        border: solid;
        padding: 0.7em;
        background: #E4E4E9;
        border-radius: 50%;
        border: none;
        width: 40px;
    }
    .ig {
        position: absolute;
        left: 24.9%;
        top: 63.5%;
        border: solid;
        padding: 0.7em;
        background: #E4E4E9;
        border-radius: 50%;
        border: none;
        width: 40px;
    }
    .lastpage {
        position: absolute;
        width: 1002.93px;
        height: 350px;
        left: 19px;
        top: 3876px;
    }
    
    
            
}

